**/__pycache__
**/*.pyc
bin/*
!bin/README
100_logic_synthesis/reports 
100_logic_synthesis/rundata 
100_logic_synthesis/synthesis
110_remove_dangling_nets/verilog
200_floorplanning/bookshelf
210_create_def/def
300_placement/placement
310_write_def/def
320_timing/timing
400_gate_sizing/sizing
410_write_bookshelf/bookshelf
420_legalization/placement
430_write_def/def
440_timing/timing
500_gr_bench_gen/gr_bench
510_global_route/global_route
